
.center-screen {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh; 
  }
.container {
    margin-top: 50px;
    width: 400px; 
    height: 400px;
    border: 1px solid #ccc; 
    padding: 20px;
    box-sizing: border-box; 
    justify-self: center;
    border-radius: 25px;
    text-align: center; 
  }
  
  form {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .centerdiv{
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 5px;
  }
  .center-text {
    text-align: center; 
  }
  .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Align items horizontally in the center */
  }
  
  .form-group {
    margin: 5px;
  }